@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/mulish-v18-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/mulish-v18-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/mulish-v18-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/mulish-v18-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/mulish-v18-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/mulish-v18-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/mulish-v18-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/mulish-v18-latin-900.woff2') format('woff2');
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--white);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #458FF6, #000000);
    border-radius: 10px;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #458FF6;
    --sky-blue: #67C3F3;
}

::selection {
    background-color: var(--sky-blue);
    color: var(--white);
}

*,
*::before,
*::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: "mulish";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1066px;
    padding: 0 0px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.mybutton {
    background-color: inherit;
    border: 2px solid var(--sky-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    border-radius: 50px;
    color: var(--sky-blue);
    font-family: "Poppins";
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.mybutton {
    background-color: inherit;
    border: 2px solid var(--sky-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    border-radius: 50px;
    color: var(--sky-blue);
    font-family: "Poppins";
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border-radius: 28px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--sky-blue);
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        color: var(--white);

        &:before {
            width: 100%;
        }
    }
}

.header {
    margin-top: 25px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-text {
    font-family: "Mulish";
    opacity: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--gray);
    transition: 400ms ease all;
}

.header-lists:hover {
    transition: 400ms ease all;
    transform: translate(2px, -2px);
    color: var(--blue);
}

.hero {
    padding-top: 50px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-left-box {
    width: 445px;
    height: 336px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hero-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}

.hero-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    padding-top: 10px;
}

.btn {
    margin-top: 10px;
}

.service {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container {
    max-width: 1066px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.service-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0%;
}

.service-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 50%;
}

.service-box2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-con1 {
    margin-top: 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 30px;
}

.cart-con2 {
    margin-top: -30px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 30px;
}

.cart1 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.cart-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
}

.cart-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    opacity: 50%;
}

.cart2 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.cart3 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.cart4 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.cart5 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.cart6 {
    width: 255px;
    height: 224px;
    padding: 10px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    border-radius: 15px;
    background: var(--white);
}

.service-img {
    position: absolute;
    top: 180px;
    left: 0px;
    z-index: -1;
    width: 650px;
    height: 450px;
}

.but {
    margin-top: 50px;
}

.service2 {
    margin-top: 75px;
}

.service2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blok1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 80px;
}

.right-box {
    width: 386px;
    height: 357px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.s2-b1-rb-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0%;
    padding-top: 20px;
}

.s2-b1-rb-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0%;
    padding-top: 20px;
}

.ser2btn {
    margin-top: 20px;
}

.blok2 {
    margin-top: 75px;
    gap: 80px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.left-box {
    width: 320px;
    height: 275px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.s2-b2-lb-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0%;
    padding-top: 20px;
}

.hr {
    padding-top: 20px;
}

.ser1btn {
    margin-top: 20px;
    padding: 20px;
}

.s2-b2-lb-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0%;
    padding-top: 20px;
}

.dots {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 10px;
}

.dots span {
    position: relative;
    top: 80px;
    left: -120px;
    opacity: 70%;
    width: 6px;
    height: 6px;
    background: #9ec5ff;
    border-radius: 50%;
}

.dotss {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 10px;
}

.dotss span {
    position: relative;
    top: -20px;
    left: 410px;
    z-index: -1;
    opacity: 70%;
    width: 6px;
    height: 6px;
    background: #9ec5ff;
    border-radius: 50%;
}

.check {
    padding-top: 75px;
}

.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.check-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
}

.check-box1 {
    width: 240px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    background: var(--white);
    display: block;
    margin-top: 67px;
}

.check-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-right: 75px;
}

.check-box1-title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: -7px;
}

.check-box1-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    opacity: 70%;
    margin-top: 5px;
}

.check-span {
    color: var(--sky-blue);
}

.check-box2 {
    width: 240px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    background: var(--white);
    display: block;
    margin-top: 67px;
}

.check-box3 {
    width: 240px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(109, 112, 116, 0.2) 0px 8px 24px;
    background: var(--white);
    display: block;
    margin-top: 67px;
}

.check-box-content {
    padding: 10px;
}

.check-btn {
    margin-top: 80px;
}

.dotsss {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 10px;
}

.dotsss span {
    position: relative;
    top: -130px;
    left: 75px;
    z-index: -1;
    opacity: 70%;
    width: 6px;
    height: 6px;
    background: #9ec5ff;
    border-radius: 50%;
}

.vector2 {
    position: relative;
    top: -500px;
    left: 500px;
    z-index: -1;
}

.footer {
    width: 100%;
    height: 260px;
    background: var(--blue);
    color: var(--white);
    margin-top: -260px;
}

.footer-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 250px;
    gap: 70px;
}

.footer-box1 {
    width: 291px;
    height: 150px;
}

.box1-text1 {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    padding-top: 10px;
}

.box1-text2 {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-top: 10px;
}

.footer-boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 45px;
}

.f-box2-bolt {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
}


.footer-link-text {
    font-family: "Mulish";
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--white);
}

.dotssa {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 10px;
}

.dotssa span {
    position: relative;
    top: -130px;
    left: -130px;
    z-index: -1;
    width: 6px;
    height: 6px;
    background: #9ec5ff;
    border-radius: 50%;
}

.dotsa {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 10px;
}

.dotsa span {
    position: relative;
    top: 95px;
    left: -920px;
    z-index: 1;
    opacity: 70%;
    width: 6px;
    height: 6px;
    background: #9ec5ff;
    border-radius: 50%;
}